body {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./assets/space.jpg);
    background-color: #cccccc
}

/* Setting zone for header */
.zone {
    color:#FFF;
    font-size:50px;
    border-radius:3px;
    transition: all 0.3s linear;
}
/*  Header shadow  */
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

ul {
    margin: auto 0;
    padding: 0;
}
/*  Header text centered and list styling */
li {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

/* Alignment for container/projects  */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Spacing adjustment */
section {
    margin: 30px;
}
/* image alignment */
img {
    display: flex;
    width: 600px;
    height: auto;
}
/* hover animation */
img:hover {
    transform: scaleX(110%) scaleY(130%);
}
/*  text color */
p {
    color: whitesmoke ;
}
/* About me design */
aside {
    background-color: rgb(65, 68, 68);
    opacity: 45%;
    border: darkmagenta;
}
/* text alignment */
footer {
    font-size: x-large;
    text-align: center;
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
    /* this will be applied on any screen between 768px and 575px */
    font-size: 50px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
    /* this will be applied on any screen smaller than 575px */
    font-size: 50px;
  }
}

